
body {
    text-align: center;
}

canvas {
    border: 1px solid black;
    background-color: black;
    background-image: url('https://raw.githubusercontent.com/OlivierB-OB/slm-invader/master/bg.png');
    background-position: top right;
}

img {
    display: none;
}
